<div class="page__profile profile">
  <div class="profile__container _container">

    <div class="profile_edit">
      <div class="profile__header header-block">
        <h4 class=" header-block__title">Редактирование пользователя</h4>
        <div class="header-block__sub-title">Личный кабинет</div>
      </div>
    
    <form [formGroup]="profileForm" novalidate (ngSubmit)="editProfile()" class="profile-form">


        <div class="profile-form_item">
          <div class="mb-4">
            <label for="user_name" class="form-label">Имя пользователя</label>
            <input #newName [class.error]="profileForm.controls['name'].invalid && profileForm.controls['name'].touched"
              type="text" class="form-control" id="user_name" placeholder="Имя" 
              name="name" 
              formControlName="name"
              value={{user?.name}} />
          </div>
          <div *ngIf="profileForm.controls['name'].invalid && profileForm.controls['name'].touched" class="alert alert-danger">
            <span *ngIf="profileForm.controls['name'].errors?.['required']">Поле должно быть непустым</span>
          </div>
        </div>

        <div class="profile-form_item">
          <div class="mb-4">
            <label for="user_login" class="form-label">Логин</label>
            <input #newLogin [class.error]="profileForm.controls['login'].invalid && profileForm.controls['login'].touched"
              type="text" class="form-control" id="user_login" placeholder="Логин" name="login" formControlName="login"
              value={{user?.login}} />
          </div>
          <div *ngIf="profileForm.controls['login'].invalid && profileForm.controls['login'].touched" class="alert alert-danger">
            <span *ngIf="profileForm.controls['login'].errors?.['required']">Поле должно быть непустым</span>
          </div>
        </div>

        <div class="profile-form_item">
          <div class="mb-4">
            <label for="user_password" class="form-label">Пароль</label>
            <input #newPassword
              [class.error]="profileForm.controls['password'].invalid && profileForm.controls['password'].touched" type="text"
              class="form-control" id="user_password" placeholder="Пароль" name="password" formControlName="password"
              value={{user?.password}} />
          </div>
          <div *ngIf="profileForm.controls['password'].invalid && profileForm.controls['password'].touched"
            class="alert alert-danger">
            <span *ngIf="profileForm.controls['password'].errors?.['required']">Поле должно быть непустым</span>
          </div>
        </div>

        <div class="profile-form_item">
          <p>Роль: {{user?.role}}</p>
        </div>
        
        <div class="col-12">
          <button type="submit" class="btn btn-default" [disabled]="profileForm.invalid">Сохранить изменения</button>
        </div>

    </form>
    
    </div>

  <div class="profile_orders">
    <div class="profile__header header-block">
      <h4 class=" header-block__title">Ваши заказы</h4>
      <div class="header-block__sub-title"></div>
    </div>
  </div>



  </div>
</div>


