<div class="container">
  <div class="card">
    <h2>{{post.title}}</h2>
    <p> <small class="text-muted">{{post.date | date:'dd.MM.yyyy'}}</small></p>
    <p><span class="text-muted">{{getUserName(post.userId)}}</span></p>
    <img [src]="post.link" [alt]="post.title">
    <p>{{post.text}}</p>
    <div>
      <a [routerLink]="['/post']">Назад</a>
    </div>

    <hr>

    <h5>Comments:</h5>

    <app-form-comment></app-form-comment>

    <app-comment-list></app-comment-list>

    <div *ngFor="let comment of comments" class="comments">
      <hr>
      <h6>{{getUserName(comment.userId)}}</h6>
      <p><span class="text-muted">{{comment.date | date:'dd.MM.yyyy'}}</span></p>
      <p>{{comment.text}}</p>
    </div>

  </div>

</div>
