h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 61px;
}
h2 {
  font-family: 'Montserrat', sans-serif;
}
h3 {
  font-family: 'Cormorant Garamond', serif;
}
h4 {
  font-family: 'Montserrat', sans-serif;
}
p {
  font-family: 'Montserrat', sans-serif;
}
/* font-family: 'Poppins', sans-serif; */