<div class="article">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="card-img col-md-4">
        <img src="{{article.link}}" class="img-fluid rounded-start" [alt]="article.title">
      </div>
      <div class="col-md-8">
        <div class="card-body">

          <h5 class="card-title">{{article.title}}</h5>
          <p class="card-info_author"><span class="text-muted">{{article.author}}</span></p>

          <p class="card-info_preview">{{article.preview}}</p>
          <p class="card-info_preview"><a [routerLink]="['/list', article.id]">Читать подробнее</a></p>

          <div class="card-date "><span class="text-muted">{{article.date | date:'dd.MM.yyyy'}}</span></div>

          <div class="favorite">
            <i (click)="changeStatus()" class="bi" [class.bi-star]="!article.favorite"
              [class.bi-star-fill]="article.favorite"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
