
.card-img {
  margin: 10px;
  width: 160px;
  height: 160px;
  img {
    width: 160px;
    height: 160px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    object-fit: cover;
    background: #eee no-repeat center center;
  }
}
.favorite{
  position: absolute;
  top: 15px; 
  right: 15px;
  cursor: pointer;
}