<footer class="footer">
  <div class="footer-container _container">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-6">
          <p>Учебный проект Елены Борисевич</p>
        </div>

          <!--icons-->
          <div class="col-lg-6">
            <div class="icons">
                <div class="icon-item">
                    <div class="icon">
                        <a href="https://t.me/HelikaBor">
                            <img src="../../../../assets/img/footer/telegram-app.png" alt="icon: telegram">
                        </a>
                        <a href="https://www.linkedin.com/in/elenaborisevich">
                          <img src="../../../../assets/img/footer/linkedin.png" alt="icon: linkedin">
                      </a>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    
  </div>
</footer>


