table {
  border-spacing: 0;
  border-collapse: collapse;
  }

td, th {
  height: 30px;
  vertical-align: middle;
  text-align: center;
  border: 1px solid white;
  }

  th {
    color: #fff;
    background-color:#5050ff;
    border-bottom: 3px solid #fff;
  }
 
tr:nth-child(2n+3) td {
background: rgb(244, 248, 255);   
}

tr:nth-child(2n+2) td {
  background: rgb(221, 231, 243);   
}

tr td:nth-child(1) {
  text-align: center;
  width: 30px;
}

tr td:nth-child(2) {
  text-align: left;
  width: 180px;
}

tr td:nth-child(3) {
  text-align: center;
  width: 100px;
}

tr td:nth-child(4) {
  text-align: center;
  width: 100px;
}

tr td:nth-child(5) {
  text-align: center;
  width: 100px;
}

th:nth-child(2) {
  text-align: left;
}