<div class="article">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="card-img col-md-4">
        <img src="{{article.link}}" class="img-fluid rounded-start" [alt]="article.title">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{article.title}}</h5>
          <div class="card-date "><small class="text-muted">{{article.date | date:'dd.MM.yyyy'}}</small></div>
          <p class="card-info_preview">{{article.preview}}</p>
          <p class="card-info_user"><small class="text-muted">{{article.user}}</small></p>
          <div class="favorite">
            <i (click)="changeStatus()" class="bi" [class.bi-star]="!article.favorite"
              [class.bi-star-fill]="article.favorite"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
