@font-face {
	font-family: 'Oswald-VariableFont'; 
	src: url('../fonts/Oswald/Oswald-VariableFont_wght.ttf'); 	
	font-weight: normal; 
	font-style: normal;
	}

html {
  font-size: 14px;
  line-height: 22px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  }
h1 {
  line-height: normal;
  margin-top: 0px;
  padding-left: 30px;
  font-size: 24px;
  font-family: 'Oswald-VariableFont', serif;
}
h2 {
  line-height: normal;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-left: 30px;
  font-size: 18px;
  font-family: 'Oswald-VariableFont', serif;
}
h3 {
  line-height: normal;
  margin-top: 10px;
  padding-left: 30px;
  font-size: 16px;
  font-family: 'Oswald-VariableFont', serif;
}
p {
  padding-left: 20px;
  padding-right: 20px;
}
.sec1 {
  padding-bottom: 20px;
  padding-left: 20px;
  background-color: rgb(248, 248, 248);
  height: auto;
}
.frame {
  background: #f5f5f5;
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 0.95em;
  font-family: "Courier New", monospace;
  word-break: keep-all;
  border: 1px solid #e6e6e6; /*рамки для элементов*/
  text-shadow: 0 1px white;
}
.frameblock {
  display: block;
  border: 3px solid #e6e6e6; /*рамки для блоков*/
  border-radius: 10px;
  padding: 2px 6px;
  width: 90%;
  margin: 20px;
}
.spasing {
  letter-spacing: 1px; /*разреженный шрифт*/
}
/*фиксированный фон (подумать!)
.scrolling_bg {
  height: 1000px;
  width: 100%;
  background-color: #f2f2f2;
  background-image: url(../img/kod3d.jpg);

}*/

/*Списки*/
ul {
  list-style-type: circle;
}
ul.menu {
  text-transform: uppercase;
  list-style-type: none;
}
ul.menu a {
  text-decoration: none;
  color: #000;
}
li.menu:hover a {
  font-size: 15px;
  text-decoration-color: green;
  color:green;
  }
ul.immarker {
  list-style-image: url(../img/marker_14.png);
}


/*Картинки*/
img.img1 {
	height: 270px;
 
}
p.img1 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;

}

img.img2 {
	height: 180px;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
img.img3 {
	height: 200px;
  float: right;
  margin-right: 20px;

  vertical-align: middle;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/*Код*/
.cllightblue {
  color: #88e3ff;
}
.cllightyellov {
  color: #fffcd2;
}
.clyellov {
  color: #fced19;
}
.clblue {
  color: #2860fa;
}
.clwhite {
  color: #ffffff;
}
.cllightgreen {
  color: #c1ffce;
}
.clred {
  color: #c57c7c;
}
.clbackgr {
  background-color: #383838;
}
pre.clbackgr {
  margin-right: 400px;
  margin-left: 20px;
}

/*Таблица*/
table.t1 {
  margin: 1em auto;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
}
.t1 th, .t1 td {
  padding: 4px 8px;
}
.t1 thead th {
  background: #4f81bd;
  text-transform: lowercase;
  text-align: left;
  font-size: 15px;
  color: #fff;
}
.t1 tr {
  border-right: 1px solid #95b3d7;
}
.t1 tbody tr {
  border-bottom: 1px solid #95b3d7;
}
.t1 tbody tr:nth-child(odd) {
  background: #dbe5f0;
}
.t1 tbody th, .t1 tbody tr:nth-child(even) td {
  border-right: 1px solid #95b3d7;
}
.t1 tfoot th {
  background: #4f81bd;
  text-align: left;
  font-weight: normal;
  font-size: 10px;
  color: #fff;
}
.t1 tr *:nth-child(3), .t1 tr *:nth-child(4) {
  text-align: left;
}

/*Оформление списков тегов и свойств*/
section.secelements {
  width: 100%;
	height: auto;
  background-color: #F2F2F2;
  margin-top: 0px;

}
div.elements {
  float: left; /*Задаем обтекание*/
  width: 50%; /*Ширина блока*/
  height: auto;
  }

.pfooter {
border-top: 2px;
border-top-style: dotted;
border-bottom: 2px;
border-bottom-style: dotted;
  }