<form [formGroup]="myForm" novalidate (ngSubmit)="addPost()">
  <div class="row">
    <div class="col-6">
      <div class="mb-3">
        <label for="article_link" class="form-label">Изображение</label>
        <input type="text" link="link" formControlName="link" class="form-control" name="link" id="article_link"
          placeholder="Ссылка на изображение" />
      </div>
      <div class="alert alert-danger" *ngIf="myForm.controls['link'].invalid && myForm.controls['link'].touched">
        Не указана ссылка
        <span *ngIf="myForm.controls['picture'].errors?.['required']">Не указана ссылка</span>
        <span *ngIf="myForm.controls['picture'].errors?.['check']">Нельзя вводить no</span>
      </div>
    </div>

    <div class="col-6">
      <div class="mb-3">
        <label for="article_title" class="form-label">Заголовок поста</label>
        <input [class.error]="myForm.controls['title'].invalid && myForm.controls['title'].touched" type="text"
          class="form-control" id="article_title" placeholder="Заголовок" name="title" formControlName="title" />
      </div>
      <div *ngIf="myForm.controls['title'].invalid && myForm.controls['title'].touched" class="alert alert-danger">
        <span *ngIf="myForm.controls['title'].errors?.['required']">Поле должно быть непустым</span>
        <span *ngIf="myForm.controls['title'].errors?.['minlength']">Минимальная длина должна быть 10 символов</span>
        <span *ngIf="myForm.controls['title'].errors?.['maxlength']">Максимальная длина должна быть не более 200
          символов</span>
      </div>
    </div>

    <div class="col-6">
      <div class="mb-3">
        <label for="article_date" class="form-label">Дата поста</label>
        <input type="date" name="date" class="form-control" id="article_date" placeholder="Дата"
          formControlName="date" />
      </div>
      <div class="alert alert-danger" *ngIf="myForm.controls['date'].invalid && myForm.controls['date'].touched">
        Не указана дата
      </div>
    </div>

    <div class="col-6">
      <div class="mb-3">
        <label for="article_preview" class="form-label">Превью поста</label>
        <input type="text" name="preview" class="form-control" id="article_preview" placeholder="Превью"
          formControlName="preview" />
      </div>
      <div class="alert alert-danger" *ngIf="myForm.controls['preview'].invalid && myForm.controls['preview'].touched">
        Не указано превью
      </div>
    </div>

    <div class="col-6">
      <div class="mb-3">
        <label for="article_author" class="form-label">Автор поста</label>
        <select class="form-select"
          [class.error]="myForm.controls['author'].invalid && myForm.controls['author'].touched"
          formControlName="author">
          <option [ngValue]="" selected>Выберите автора</option>
          <option *ngFor="let user of users" [ngValue]="user">
            {{user}}
          </option>
        </select>
      </div>
      <div *ngIf="myForm.controls['author'].invalid && myForm.controls['author'].touched" class="alert alert-danger">
        Не указан автор поста
      </div>
    </div>

    <div class="col-6">
      <div class="mb-3">
        <label for="article_text" class="form-label">Текст поста</label>
        <textarea type="text" name="text" class="form-control" id="article_text" placeholder="Текст"
          formControlName="text" rows="3"></textarea>
      </div>
      <div class="alert alert-danger" *ngIf="myForm.controls['text'].invalid && myForm.controls['text'].touched">
        Обязательное поле
      </div>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary btn-default" [disabled]="myForm.invalid">Сохранить</button>
    </div>
  </div>
</form>
