/*===цвета===*/
$black: #111111;
$cyanDark: #028383;

$backgroundApp: #F0F0F0;
$backgroundNav: #E1E1E1;
$backgroundBtn: #E1E1E1;
$backgroundNavActive: #cbc8c8;
$backgroundBtnActive: #cbc8c8;
/*
$white: #fff;
$grin-grey: #919290;
$pink: #f42267;
$pink2: #ff5990;

$blue2: #4b2d7f;
$blue3: #281d3c;
$blue4: #6766c2;
$blue5: #7647c7;
$blue6: #a57ee9;
$grey: #f0f0f0;
$grey2: #484848;
$grey3: #1d1d1d;
$grey4: #333333;
$grey5: #f1f1f1;
$grey6: #171717;
*/

/*===импорт шрифтов===*/
/*
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*/