<div class="container">
  <div class="row">

    <div class="col-12">
      <div class="card card-cite">

        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>Человек о многом говорит интересно, но с аппетитом — только о себе.</p>
            <footer class="blockquote-footer">Иван Тургенев -
              <cite title="Source Title"> русский писатель-реалист, поэт, публицист, драматург, прозаик,
                переводчик.</cite>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>

    <div class="col-12">

      <div class="blog-container col-12">
        <div class="row">

          <div class="col-6">
            <div class="info info-blog">
              <h2>О ЧЁМ ЭТОТ БЛОГ</h2>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores iste voluptate, perferendis minus
                mollitia
                consequatur eligendi tempora quo recusandae reiciendis beatae ad veniam obcaecati impedit qui
                repudiandae
                est
                debitis
                reprehenderit natus numquam aliquam. Ratione veniam, quisquam consectetur voluptate quae dolores dolorum
                cumque
                officia, id ex aperiam iure accusamus excepturi maiores.
              </p>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores iste voluptate, perferendis minus
                mollitia
                consequatur eligendi tempora quo recusandae reiciendis beatae ad veniam obcaecati impedit qui
                repudiandae
                est
                debitis
                reprehenderit natus numquam aliquam. Ratione veniam, quisquam consectetur voluptate quae dolores dolorum
                cumque
                officia, id ex aperiam iure accusamus excepturi maiores.
              </p>
            </div>
          </div>

          <div class="col-6">
            <div class="info info-author">
              <h2>ДАВАЙТЕ ПОЗНАКОМИМСЯ...</h2>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores iste voluptate, perferendis minus
                mollitia
                consequatur eligendi tempora quo recusandae reiciendis beatae ad veniam obcaecati impedit qui
                repudiandae
                est
                debitis
                reprehenderit natus numquam aliquam. Ratione veniam, quisquam consectetur voluptate quae dolores dolorum
                cumque
                officia, id ex aperiam iure accusamus excepturi maiores.</p>
            </div>
          </div>

          <div class="col-6">
            <div class="info info-author">
              <h2>ПРЕДЛАГАЮ ОБСУДИТЬ</h2>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores iste voluptate, perferendis minus
                mollitia
                consequatur eligendi tempora quo recusandae reiciendis beatae ad veniam obcaecati impedit qui
                repudiandae.</p>
            </div>
          </div>

          <div class="col-6">
            <div class="info info-author">
              <h2>А ЧТО У ВАС НОВЕНЬКОГО?</h2>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores iste voluptate, perferendis minus
                mollitia
                consequatur eligendi tempora quo recusandae reiciendis beatae ad veniam obcaecati impedit qui
                repudiandae.
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


</div>
