@font-face {
	font-family: 'Oswald-VariableFont'; 
	src: url('../fonts/Oswald/Oswald-VariableFont_wght.ttf'); 	
	font-weight: normal; 
	font-style: normal;
	}

html {
  font-size: 14px;
  line-height: 22px;
  font-family: Georgia, 'Times New Roman', Times, serif;

  background-color: rgb(248, 248, 248);
  background-image: url(../img/img_bg.jpg);
  background-repeat: no-repeat;
}
h1 {
  line-height: normal;
  margin-top: 0px;

  font-size: 24px;
  font-family: 'Oswald-VariableFont', serif;
}
h2 {
  line-height: normal;
  margin-top: 40px;
  margin-bottom: 20px;

  font-size: 18px;
  font-family: 'Oswald-VariableFont', serif;
}
h3 {
  line-height: normal;
  margin-top: 10px;
  
  font-size: 16px;
  font-family: 'Oswald-VariableFont', serif;
}
p {
  padding-left: 5px;
  padding-right: 5px;
}

.frame {
  background: #f5f5f5;
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 0.95em;
  font-family: "Courier New", monospace;
  border: 1px solid #e6e6e6; /*рамки для элементов*/
  text-shadow: 0 1px white;
}

.spasing {
  letter-spacing: 1px; /*разреженный шрифт*/
}

/*Списки*/
ul {
  list-style-type: circle;
}
ul.menu {
  text-transform: uppercase;
  list-style-type: none;
}
ul.menu a {
  text-decoration: none;
  color: #000;
}
li.menu:hover a {
  font-size: 15px;
  text-decoration-color: green;
  color:green;
  }
ul.immarker {
  list-style-image: url(../img/marker_14.png);
}


/*Картинки*/
img.img1 {
	width: 100%;
 
}
p.img1 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;

}

img.img2 {
	height: 180px;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
img.img3 {
	width: 100%;
  float: right;
  
  vertical-align: middle;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/*Код*/
.cl_light_blue {
  color: #88e3ff;
}
.cl_light_yellov {
  color: #fffcd2;
}
.cl_yellov {
  color: #fced19;
}
.cl_blue {
  color: #2860fa;
}
.cl_white {
  color: #ffffff;
}
.cl_light_green {
  color: #c1ffce;
}
.cl_red {
  color: #c57c7c;
}
.cl_backgr {
  background-color: #383838;
}
pre.cl_backgr {
  
}

/*Таблица*/
.container_tabl {
  overflow: auto;
}
table.t1 {
  margin: 1em auto;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
}
.t1 th, .t1 td {
  padding: 4px 8px;
}
.t1 thead th {
  background: #4f81bd;
  text-transform: lowercase;
  text-align: left;
  font-size: 15px;
  color: #fff;
}
.t1 tr {
  border-right: 1px solid #95b3d7;
}
.t1 tbody tr {
  border-bottom: 1px solid #95b3d7;
}
.t1 tbody tr:nth-child(odd) {
  background: #dbe5f0;
}
.t1 tbody th, .t1 tbody tr:nth-child(even) td {
  border-right: 1px solid #95b3d7;
}
.t1 tfoot th {
  background: #4f81bd;
  text-align: left;
  font-weight: normal;
  font-size: 10px;
  color: #fff;
}
.t1 tr *:nth-child(3), .t1 tr *:nth-child(4) {
  text-align: left;
}


/*БЛОКИ*/
.box_title {
  text-align: center;
}
.container{
  
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
}
.box{
  margin: auto;
  width: 320px;
    
}
@media (min-width: 768px) {
  .container{
      width: 768px;
  }
  .box{
      width: 100%;
   }
   .box_title {
     text-align: left;
    margin-left: 30px;
  }
  .items {
    width: 768px;
    display: flex;
    }
  .item_1 {
    width: 40%;
    padding: 5%;
    margin: 0px;
   
  }
  .item_2 {
    width: 40%;
    padding: 5%;
    margin: 0px;
   
  }
  img.img1 {
    width: 50%;
  }
  img.img3 {
    width: 30%;
  }
}
@media (min-width: 1024px) {
  .container{
      width: 1024px;
  }
  .box{
        
  }
}
@media (min-width: 1600px) {
  .container{
      width: 1600px;
  }
  .box{
     
  }
  img.img1 {
    width: 40%;
  }
  img.img3 {
    width: 15%;
  }
}