@import "src/assets/styles/index";

.blog-footer {
  display: flex;
  
  align-items: center;
  background-color:$backgroundApp;
  background: url(../../../../assets/img/sample_feature_img_2.png) center center repeat;
}
