body, html {
	margin: 0;
	padding: 0;
}
.container {
	width: 100%;
	position: relative;
	margin: 0 auto;
}
.box {
	background: #000;
	width: 100px;
	height: 100px;
}

@media (min-width: 768px) {
	.box{
		width: 100%;
}
.container{
		width: 768px;
}
}

@media (min-width: 1024px) {
	.box{
		height: 200px;
}
.container{
		width: 1024px;
}
}

@media (min-width: 1600px) {
	.box{
		height: 400px;
}
.container{
		width: 1600px;
}
}