body, html {
	margin: 0;
	padding: 0;
}
.container {
	width: 100%;
	position: relative;
	margin: 0 auto;
}
.box {
	width: 100px;
	height: 100px;
	position: relative;
	margin: 1px;
	text-align: center;
	color: #fff;
	line-height: 96px;
	float: left;
}
.box:nth-child(2n+1) {
	background-color: blue;
	display: none;
}
.box:nth-child(2n) {
background-color: red;
width: 100%;
}

@media (min-width: 768px) {
	.box:nth-child(2n+1) {
	display: block;
	width: 252px;
	height: 252px;
	margin: 2px;
	line-height: 250px;

}
.box:nth-child(2n) {
  display: none;
	}
.container{
		width: 768px;
}
}

@media (min-width: 1280px) {
	.box:nth-child(2n) {
		display: block;
		width: 207px;
		height: 207px;
		margin: 3px;
		line-height: 207px;
	}
	.box:nth-child(2n+1) {
		display: block;
		width: 207px;
		height: 207px;
		margin: 3px;
		line-height: 207px;
	}

.container{
		width: 1280px;
}
}