form{
  background-color:rgb(242, 252, 249);
  padding: 10px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
}
.form-label {
  margin-top: 10px;
}
input, textarea {
  cursor: pointer;
}
.btn-primary {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #f0efef;
  color: black;
  border-color: #e1e1e1;
  transition-property: background;
  transition-duration: 0.2s;
}
.btn-primary:hover {
  background: #e1e1e1;
}
.error{
  border: 1px solid #842029;
}