@import "src/assets/styles/index";

form{
  background-color:rgb(255, 255, 255);
  padding: 10px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
}
.form-label {
  margin-top: 10px;
}
input, textarea {
  cursor: pointer;
}

.error{
  border: 1px solid #842029;
}