<div class="form">
  <div class="row">
    <div class="col-6">
      <div class="mb-3">
        <label for="article_link" class="form-label">Изображение</label>
        <input type="url" class="form-control" id="article_link" placeholder="Ссылка на изображение" [src]="link" />
      </div>
    </div>

    <div class="col-6">
      <div class="mb-3">
        <label for="article_title" class="form-label">Заголовок поста</label>
        <input type="text" class="form-control" id="article_title" placeholder="Заголовок" [(ngModel)]="title" />
      </div>
    </div>

    <div class="col-6">
      <div class="mb-3">
        <label for="article_date" class="form-label">Дата поста</label>
        <input type="date" class="form-control" id="article_date" placeholder="Дата" [(ngModel)]="date" />
      </div>
    </div>

    <div class="col-6">
      <div class="mb-3">
        <label for="article_preview" class="form-label">Превью поста</label>
        <input type="text" class="form-control" id="article_preview" placeholder="Превью" [(ngModel)]="preview" />
      </div>
    </div>

    <div class="col-6">
      <div class="mb-3">
        <label for="article_user" class="form-label">Автор поста</label>
        <input type="text" class="form-control" id="article_text" placeholder="Автор" [(ngModel)]="user" />
      </div>
    </div>

    <div class="col-6">
      <div class="mb-3">
        <label for="article_text" class="form-label">Текст поста</label>
        <textarea type="text" class="form-control" id="article_text" placeholder="Текст" [(ngModel)]="text"></textarea>
      </div>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary" (click)="enterPost($event)">Сохранить</button>
    </div>
  </div>
</div>
