<div class="page__home home">
  <div class="home__container _container">

    <div class="home__header header-block">
      <h2 class="header-block__title">Скоро</h2>
      <div class="header-block__sub-title">
        С 19 мая по 1 июня
      </div>
    </div>

    <div class="home__body">
      <div class="home__content">
        <h1 class="home-title">Приключения Царя</h1>
        <p class="home-text">
          Эта история случилась давным давно во время античной Олимпиады, когда в Грецию со всех сторон света съезжались лучшие атлеты. Среди славных спортсменов оказался самый настоящий Царь, прибывший из одного далекого, но очень солнечного тридевятого царства. Вместе с ним в команде – прекрасная жена, острая на язык теща, смышленая дочурка и даже домашний аист… С такой поддержкой победа гарантирована! Но только вот незадача: их буквально по пятам преследует заклятый враг царя. Коварный злодей хочет погубить правителя за пределами его страны и занять трон. Но не на того напал! Точнее - не на тех!
        </p>
        
        <div class="home-details">
          <div class="genre">
            <p class="genre-text">мультфильм</p>
          </div>
          <div class="time">
            <img src="../../assets/img/home/time.png" alt="clock" class="time-icon">
            <span class="time-counter">1 ч 20 мин</span>
          </div>
          <div class="age">
            <span class="age-counter">6+</span>
          </div>
    
        </div>
      </div>


        <div class="home_video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/j6oXsSKBjHQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

    </div>
  </div>
</div>
