<div class="page__home home">
  <div class="home__container _container">

    <div class="home__header header-block">
      <h2 class="header-block__title">Скоро</h2>
      <div class="header-block__sub-title">
        С 28 апреля по 4 мая
      </div>
    </div>

    <div class="home__body">
      <div class="home__content">
        <h1 class="home-title">Вивариум</h1>
        <p class="home-text">
          В поисках идеального дома молодая пара знакомится со странным агентом по недвижимости. Во время показа нового жилого квартала в пригороде, агент таинственным образом исчезает, а Том и Джемма с ужасом понимают, что они абсолютно одни в этом жутковато-стерильном лабиринте одинаковых строений, и все дороги возвращают их к дому №9. В отчаянии они даже поджигают дом, но на следующий день обнаруживают его абсолютно целым, а также находят коробку с младенцем и записку: «Вырастите ребенка, получите свободу».
        </p>
        
        <div class="home-details">
          <div class="genre">
            <p class="genre-text">драма, фантастика</p>
          </div>
          <div class="time">
            <img src="../../assets/img/home/time.png" alt="clock" class="time-icon">
            <span class="time-counter">240мин.</span>
          </div>
          <div class="age">
            <span class="age-counter">18+</span>
          </div>
    
        </div>
      </div>


        <div class="home_video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/wzmpK1isy5w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

    </div>
  </div>
</div>
