/*===цвета===*/
// цвет темы приложения:
// $mainColor: #27526F;
// $mainColor: #17645A;
// $mainColor: #696451;
$mainColor: #12787A;

// 
$appText: rgba(255, 255, 255, 0.8);
$appTextHover: rgba(186, 186, 186, 0.8);
$white: #fff;
$black: #111111;
$greyText: #737373;


$backgroundApp: linear-gradient(180deg, #27272a, $mainColor 85.62%), no-repeat center top / cover;
//$backgroundApp: #fff;
$backgroundNav: #E1E1E1;
$backgroundBtn: #E1E1E1;
$backgroundNavActive: #cbc8c8;
$backgroundBtnActive: #cbc8c8;

/*===импорт шрифтов===*/

/*
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*/

/*===медиа===*/
@media (max-width: 1200px) {

}
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 470px) {

}
@media (max-width: 420px) {

}