html{
  height: 100%;
}
body{
  min-height: 100%;

}
.container{
  max-width: 50%;
  margin: 0 auto;
}
.content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
}
.users{
  position: relative;
  display: flex;
  align-items: left;
  justify-content: space-between;
}
.fitst, .second{
  text-align: left;
  border-bottom: 1px solid #eee;
  opacity: 0.5;
}
.fitst.active, .second.active{
  opacity: 1;
  font-weight: bold;
}
#сreate{
  cursor: pointer;
}