h3 {
  display: flex;
  align-items:center;
  justify-content: center;
}
.stickers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}
.sticker {
  width: 250px;
  height: 250px;
  margin: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .6);
  background: linear-gradient(rgb(251, 255, 247), rgb(202, 255, 155));
  border-radius: 5px;
  padding: .6em;
}
.sticker-data {
  right: 0px;
}
.closes {
  position: relative;
  text-align: center;
  width: 25px;
  right: -205px;

}

.closes:hover {
  background-color: #f7786e;
  color: white;
  cursor: pointer;
}