body {
  color: white;
}
table {
  margin-left: 20px;
  margin-right: 20px;
  border-collapse: collapse;
  background-color: brown;
}
td {
  width: 120px;
  height: 60px;
border: 1px solid black;
}
th {
  border: 1px solid black;
  }

  /*Выравнивание через классы*/
.top {
  vertical-align: top;
}  
.left {
  text-align: left;
}
.bottom {
  vertical-align: bottom;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}